<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Novel</key>
	<array>
		<string>54735</string>
		<string>54742</string>
	</array>
	<key>News</key>
	<array>
		<string>54728</string>
	</array>
    <key>Movie</key>
    <array>
        <string>54728</string>
    </array>
    <key>Travel</key>
    <array>
        <string>54728</string>
    </array>
</dict>
</plist>
